.vscode/**
.vscode-test/**
src/**
!out/**
scripts/**
examples/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
image.png
DESIGN.md
TESTING-GUIDE.md
test-environment-setup.sh
modsecurity.conf
